{% extends 'admin/base.html.twig' %} 

            {% block body %}
            <div class="sidebar-space">
           <h2 class="mt-4 mb-lg-4">Welcome to admin section.</h2>
           <p>Select page from the sidebar.</p>
            </div>
            
                {% endblock %}
    
        