{% extends 'base.html.twig' %}

{% block body %}
	<!-- MOTIONLESS HERO SECTION STARTS HERE -->
    <div class="container pt-2 pb-4">

<div class="col align-self-center">
    <p class="display-4 fw-bold text-center">Contact us
    </p>
</div>
</div>
</div>

<!-- MOTIONLESS HERO SECTION ENDS HERE -->


<!-- CONTACT FORM STARTS HERE -->

<div class="container-xl mt-5">
<div class="row justify-content-center">
<div class="col-12 col-md-6">
    {{ form(contactForm) }}
     

</div>
</div>
</div>

<!-- CONTACT FORM ENDS HERE -->

{% endblock %}