{% extends 'base.html.twig' %}


{% block body %}
<div
class="container-fluid slider-full">

<!-- MOTIONLESS HERO SECTION STARTS HERE -->
<div class="container pt-2 pb-4">
    <div class="d-flex flex-column flex-md-row">
        <div class="col align-self-center">
            <p class="display-4 display-4-slide fw-bold text-center animate__animated animate__fadeInLeft">Read.&nbsp;Publish.&nbsp;<span class="text-primary">Explore</span>
            </p>
            <h4 class="text-center animate__animated animate__fadeInRight">Find exciting articles written by people for people.</h4>
        </div>
        <div class="col">
            <img class="mx-auto d-block slide-full" src="{{ asset('assets/images/office.svg')}}" alt="">
        </div>
    </div>
</div>
</div>

<!-- MOTIONLESS HERO SECTION ENDS HERE -->
{% endblock %}