{% extends 'base.html.twig' %}

{% block body %}
	<!-- MOTIONLESS HERO SECTION STARTS HERE -->
    <div class="container pt-2 pb-4 mt-5">

        <div class="col align-self-center">
            <p class="display-4 fw-bold text-center">Subscribe now to
                <span class="text-primary">Explore</span>
            </p>
            <h4 class="text-center">Find exciting articles written by people for people.</h4>
        </div>

    </div>
</div>

<!-- MOTIONLESS HERO SECTION ENDS HERE -->

<!-- SUBSCRIPTION STARTS HERE -->

<div class="container-xl mt-5">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h3>Special offer</h3>
            <p>Unlimited access to all the journalism we offer.</p>
            <h4>€2 per month.</h4>
            <button type="button" class="btn btn-primary my-4 ">Subscribe now</button>
        </div>
    </div>
    <p class="super-small">
        No commitment required. Cancel anytime.
        Limited time offer. This is an offer for a Basic Digital Access Subscription. 
Your payment method will automatically be charged in advance every four weeks. 
You will be charged the introductory offer rate every four weeks for the introductory 
period of one year, and thereafter will be charged the standard rate every four weeks 
until you cancel. Your subscription will continue until you cancel. You can cancel anytime. 
Cancellations take effect at the end of your current billing period. 
The Basic Digital Access Subscription does not include e-reader editions (Kindle, Nook, etc.), 
Higher Games (the Crossword) or Higher Cooking. Mobile apps are not supported on all devices. 
These offers are not available for current subscribers. Other restrictions and taxes may apply.
 Offers and pricing are subject to change without notice.
    </p>
</div>
{% endblock %}